* {
  box-sizing: border-box;
  margin: 0;
  
}

.add {
  margin: 20px 0;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
}

.remove {
margin: 10px 0;
justify-content: left;

}